@mixin card__container {
  margin-block-start: 1.25em;
  position: relative;
  display: flex;
  scroll-snap-type: x mandatory;
  overflow: hidden;
}

@mixin card__item {
  width: 100%;
  max-width: 250px;
  flex-shrink: 0;
  scroll-snap-align: start;
  cursor: pointer;
  // max-height: 300px;
  // min-width: 250px;
}
