
// Principal or home header
.header {
  position: relative;
  min-height: 70vh;
  padding-block-start: 2.5em;
  // background: var(--color-tertiry);
  // background-image: linear-gradient(to bottom, rgba(45, 41, 64, 0.45), rgba(13, 23, 53, 1)), url('https://www.themoviedb.org/t/p/w1920_and_h800_multi_faces/jsoz1HlxczSuTx0mDl2h0lxy36l.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.title {
  font-family: var(--font-family-logo);
  font-size: 2rem;
}

.header h2 {
  position: absolute;
  bottom: 15%;
}

.best__movie-title {
  width: 80%;
  font-size: 3.5rem;
  line-height: 4.25rem;
  background: linear-gradient(to right,
      rgb(243, 243, 243),
      rgb(13, 23, 53));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navbar {
  margin-block-end: 2em;
}


.header__language {
  position: absolute;
  top: 5px;
  right: 0;

  .language__select {
    border: 0;
    padding: .1em .5em;
    background-color: rgba(255, 182, 8, 0.9);

    & option {
      background-color: white;
    }
  }
}