@use "cards";

.movies__cards {
  @include cards.card__container;
  width: auto;
  // white-space: nowrap;
  // text-overflow: ellipsis;
  gap: 0 1.25em;
}

.movie__card {
  @include cards.card__item;
  // padding: 1em;
  // background-color: #fff;
  // filter: grayscale(100%);
  // transition: filter 300ms;

  // &:is(:hover, :focus) {
  //   filter: grayscale(0%);
  // }

  & .card__poster-wrapper {
    display: block;
    height: 100%;
    padding: 1em;
    padding-bottom: 0.5em;
    position: relative;
    overflow: hidden;
    background-color: #fff;
  }

  & .card__poster {
    width: 100%;
    min-width: 200px;
    // max-width: 300px;
    max-height: 300px;
    object-fit: cover;
    opacity: 1;
    will-change: trasnform;
    transition: transform 200ms;

    &:is(:active, :hover) {
      transform: scale(1.05);
    }
  }

  & .card__caption {
    margin-block-start: 1em;
    margin-block-end: 0.25em;
    color: #000;

    & span+span {
      margin-inline-start: 0.25em;
    }
  }
}
