.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  cursor: pointer;
}

.button-icon {
  background: transparent;
}

.button__primary {
  padding: .45em 1em;
  border-radius: 0.45em;
  background-color: var(--color-secundary);
  transition: all ease-in 250ms;
  font-weight: 600;
}

.button__primary:hover,
.button__primary:active {
  opacity: 0.85;
}
