.header__view-list {
  margin: 1em 0;
}

.view__list-subtitle {
  margin-block-start: 1em;
}

.views__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  justify-items: center;
  gap: 1em;
}

