.header__view-list {
  margin: 1em 0;
}

.view__list-subtitle {
  font-size: 1.75rem;
}

.views__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  justify-items: center;
  gap: 1em 1.25em;
}

