@forward 'views';

.movies__list {
  & .movie__card {
    max-width: 350px;
    & .card__poster-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  .movie__card + .movie__card {
    margin: 0
  }
}

.no-more__movies {
  font-size: 1.2rem;
  margin-block-start: 1.25em;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  font-style: italic;
}



