@forward 'views';
@forward 'movies-list';


.section {

  .searcher {
    width: 80%;
    max-width: 768px;
    margin: 0 auto;
    margin-block-end: 2em;

    .searcher__input {
      font-size: 1.15rem;
      padding: .5em .75em;
    }

    .searcher__button {
      min-width: 4em;
      max-width: 6em;
    }
  }
}

.search__result-text {
  margin-block: 1em;
  font-size: 1.75rem;
}

.filter__movies  {
  min-height: 60vh;
  .movie__card {
    .card__poster-wrapper {
      background-color: white;
    }

    .card__poster {
      height: 100%;
      animation: none;
    }
  }
}
