:root {
  --color-primary: #0d1735;
  --color-secundary: #FFB608;
  --color-tertiry: #9ad3d6;
  --color-white: #fff;
  --color-black: #000;
  --color-white-gray: #DADADA;
  --color-white-blue: #f2fcff;
  --font-family-text: 'Dosis', sans-serif;
  --font-family-logo: 'Nabla', cursive;
  --font-weight-title: 800;
  --font-weight-subtitle: 700;
  --font-weight-text1: 500;
  --font-weight-text2: 400;
  --color-genre-action: #FF5722;
  --color-genre-family: #CDDC39;
  --color-genre-comedy: #f5e23d;
  --color-genre-drama: #E81E63;
  --color-genre-history: #9E9E9E;
  --color-genre-mystery: #3F51B5;
  --color-genre-western: #795548;
  --color-genre-adventure: #FFC107;
  --color-genre-crime: #673AB7;
  --color-genre-horror: #607D8B;
  --color-genre-romance: #F44336;
  --color-genre-music: #8BC34A;
  --color-genre-fantasy: #00BCD4;
  --color-genre-documentary: #4CAF50;
  --color-genre-animation: #03A9F4;
  --color-genre-science-fiction: #9C27B0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-text);
  background-color: var(--color-primary);
  color: var(--color-white);
}
