@font-face {
  font-family: 'Nabla';
  src: url('../../fonts/Nabla-Font.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('../../fonts/Dosis-Font.ttf') format('truetype');
  font-display: swap;
}
